<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <nav>
        <p><a href="/">Home</a></p>
        <p><a href="/projects">Projects</a></p>
        <p><a href="/contact">Contact</a></p>
    </nav>
    <h1>@ViewBag.Title</h1>
    <main>
        <form action="">
            <div class="left">
                <div class="formInput">
                    <label for="">Name</label>
                    <input type="text">
                </div>
                <div class="formInput">
                    <label for="">Email</label>
                    <input type="text">
                </div>
            </div>
            <div class="right">
                <label for="">Message</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button>Submit</button>
            </div>
        </form>
    </main>
</body>

</html>